.Model {
  display: flex;
  /* flex-direction: row-wrap; */
  padding: 4px;
  /* overflow: scroll;
  width: 100vh;
  height: 100vh; */
}

.Model .Tile {
  /* margin-top: 10px; */
  font-size: 18px;
  overflow-y: scroll;
  min-width: 380px;
  min-height: 500px;
  max-height: 640px;
  color: #7d7d7d;
  overflow: hidden;
  overflow-y: overlay;
  /* border: 1px solid #4d6543; */
  margin: 20px 1px;
  padding: 2px 4px;
  background: #101010
}

.Model .Tile .Title {
  font-size: 12px;
  /* color: #474747; */
  /* color: #eaeaea; */
  color: #306d54;
}

.Model .Tile > .Title {
  font-size: 12px;
  /* color: #474747; */
  /* color: #eaeaea; */
  color: #309a6e;
}

.Item .Subitems {
  font-size: 8px;
  padding: 1px;
  border-radius: 8px;
  margin-bottom: 4px;
}

.Item .Subitems .Count {
  /* color: #aab2c1; */
}

.Policy {
  color: #eaeaea;
  width: 200px;
  margin: 14px auto;
  padding: 4px;
}
