@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap');

.App {
  display: flex;
  flex-direction: column;
  color: #eaeaea;
  text-align: center;
  height: 100vh;
}

.App ul {
  padding: 1px;
}

.App ul > li {
  list-style: none;
}

.App ul > li > span {
  margin-left: 12px;
}

.App button {
  padding: 14px;
  margin-right: 12px;
  border-width:1px;
  color:#fff;
  background-color:#404245;
  font-weight:bold;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;

}

.Dropdown-control { background: #303030 !important; color: #eaeaea !important }
.Dropdown-menu { background: #303030 !important; color: #eaeaea !important }
.Dropdown-option { background: #303030 !important; color: #eaeaea !important }

div[aria-label='View'] { display: flex; justify-content: center; flex-grow: 1 }
div[aria-label='Controls'] { padding: 20px; margin-top: auto }
